<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title> floating action button </title>
	<link rel="stylesheet" href="style.css">

</head>
<body>
    <div class="kartu">
		<input type="checkbox" id="inputCheck" hidden />
		<label for="inputCheck" class="fab-btn">
			<span title="Event">+</span>
		</label>
		    <div class="kartu-content">
		        <center>
			        <h2>Event Jumpa.id</h2>
			      <p><img src ="<?= base_url('/assets/images/') ?>flyer-2.jpg" class="responsive zoom"  alt="" >
			       </p>
		        </center>
		   </div>
    </div>
	
</body>
</html>